<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="resourceFileScannerService" class="ru.chupaYchups.question.file.service.ResourceFileScannerService">
        <constructor-arg name="resourceFileName" value="questions.csv"/>
    </bean>

    <bean id="questionConverterService" class="ru.chupaYchups.question.file.dao.QuestionConverterServiceImpl"/>

    <bean id="questionsDao" class="ru.chupaYchups.question.file.dao.ResourceFileQuestionsDao">
        <constructor-arg name="resourceFileScannerService" ref="resourceFileScannerService"/>
        <constructor-arg name="converterService" ref="questionConverterService"/>
    </bean>

    <bean id="printerService" class="ru.chupaYchups.question.core.service.PrintOutputServiceImpl">
        <constructor-arg name="printStream" value="#{T(java.lang.System).out}"/>
    </bean>

    <bean id="inputService" class="ru.chupaYchups.question.output.InputService">
        <constructor-arg name="inputStream" value="#{T(java.lang.System).in}"/>
    </bean>

    <bean id="questionManagerService" class="ru.chupaYchups.question.core.service.TestingAttemptServiceImpl">
        <constructor-arg name="questionsDao" ref="questionsDao"/>
        <constructor-arg name="printerService" ref="printerService"/>
        <constructor-arg name="inputService" ref="inputService"/>
    </bean>

</beans>
